.App_wrapper {
    display: grid;
    width: 1200px;
    margin: 15px auto;
    grid-template-areas:
    "head head"
    "navbar profile";
    grid-template-rows: 60px 2fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.wrapper_content {
    background-color: #ffffff;
    border-radius: 10px;
}
/*box-shadow: 15px 15px 5px #858181;*/